# ОБЯЗАТЕЛЬНЫЕ ПЕРЕМЕННЫЕ
BOT_TOKEN=8313418257:AAE7ss_EmsHxdZ_vIBDtC1DSRsfjrUfCi0w
GOOGLE_CREDENTIALS_JSON={"type": "service_account", "project_id": "ваш-project", "private_key_id": "ваш-id", "private_key": "-----BEGIN PRIVATE KEY-----\nваш-ключ\n-----END PRIVATE KEY-----\n", "client_email": "ваш-email@ваш-project.iam.gserviceaccount.com", "client_id": "ваш-client-id", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/ваш-email%40ваш-project.iam.gserviceaccount.com"}

# ОПЦИОНАЛЬНЫЕ
SPREADSHEET_NAME=google-api-sheets-incident
